body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: 	#FFC0CB;
    z-index: 1;
}

.logo{
    padding: 10px 15px;
}

.nav-menu{
    padding: 10px 15px;
    }

.nav-menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0px 20px;
}

#home{
    height: 700px;
    width: 100%;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9c664d08-fdc1-439e-8482-6f82fb643f21/d8zdbco-0a76aaab-6e1a-4e5f-92dd-dd2b2625d2b7.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi85YzY2NGQwOC1mZGMxLTQzOWUtODQ4Mi02ZjgyZmI2NDNmMjEvZDh6ZGJjby0wYTc2YWFhYi02ZTFhLTRlNWYtOTJkZC1kZDJiMjYyNWQyYjcuanBnIn1dXX0.z_67Zwm5kNCtvbl3cIR7ch4WTWA0O6sbkgYftavfgmw);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-started{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10%;
    padding: 5px 10px;    
}

#about-us{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
}

.about-us-text{
    width: 50%;
    padding: 20px 20px 20px 50px;

}

.icon-box{
    display: flex ;
    flex-direction: row;
    align-items: center;
}

.icon-text{
    height: 120px;
    padding: 0px 10px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px ;
    font-size: 20px;
    color: #2dc997;
    border: 2px solid #2dc997;
    border-radius: 50%;

}

.about-us-image{
    height: 600px;
    width: 50%;
    padding: 20px 50px 20px 20px;
    display: flex;
    align-items: center;

}

.about-us-image img{
    height: auto;
    width: 100%;
    border-radius: 10%;
}

#facts{
    height: 400px;
    width: 100%;
    background: #f7f7f7;
}

.facts-text{
    text-align: center;
    padding: 20px;
}

#services{
    height: 700px;
    width: 100%;
}

.services-text{
    text-align: center;
    padding: 20px;
}

.services-box{
    padding: 0px 100px;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box{
    background: #f7f7f7;
    border: 2px solid gray;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    margin: 20px 20px;
    padding: 0px 20px;

}

.icon-box-box{
    position: absolute;
    top: -20px;
    left: center;
    background: #2dc997;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.icon-box-box i{
    color: white;
    font-size: 20px;
    
}


#call-to-action{
    background-image: url(https://www.maldronhotels.com/wp-content/uploads/2019/08/gabriele-diwald-Kwi60PbAM9I-unsplash-320x400.jpg);
    height: 300px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 150px;
}
.call-text{
    width: 1000px;
}

.call-text h3{
    font-size: 28px;
    font-weight: 700;
}

.call-button {
    border: 3px solid white;
    border-radius: 50px;
    padding: 10px 20px;
}

.call-button a{
    text-decoration: none;
    color: white;
}



#portfolio{
    height: 500px;
    width: 100%;
    background-color: #f7f7f7;
}

.portfolio-text{
    text-align: center;
    padding-top: 20px;

}

.portfolio-filters ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.portfolio-filters li{
    padding: 10px 22px;
    border-radius: 4px;
    color: #666666;
    background: white;
    margin: 0px 10px;

}

#team{
    height: 500px;
    width: 100%;
}

.team-text{
    text-align: center;
}

.team-pictures{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.employee{
    margin: 20px 60px;
    text-align: center;
    color: #666666;
}

.image{
    height: 150px;
    width: 150px;
    
}

.image img{
    height: 100%;
    width: auto;
    align-self: center;
}

.social-media{
    margin-top: 25px;
}
.social-media i{
    color: #666666;
    font-size: 20px;
}

h5{
    margin-bottom: 1px;
    font-weight: 700;
    font-size: 18px;
}


#contact{
    background: #f7f7f7;
    height: 1000px;
    width: 100%;
    text-align: center;
    padding-top: 10px;

}

.contact-map{
    height: 400px;
    width: 100%;

}
.contact-map img{
    height: 100%;
    width: auto;
}
.contact-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}


.contact-form{
    margin: 15px 20px;
}

input{
    height: 30px;
    width: 400px;
}

textarea{
    height: 70px;
    width: 400px;
}

.contact-end button{
    background: #2dc997;
    border: 0;
    color: white;
    padding: 5px 10px;
} 




.info i{
    color: #2dc997;
 
    }

.social-link i{
    color: black;
}