body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
}

header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFC0CB;
    z-index: 1;
}

.logo{
    padding: 10px 15px;
}

.menu-logo{
    display: none;
}
.nav-menu{
    padding: 10px 15px;
    }

.nav-menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 0px 20px;
    text-transform: uppercase;
}

.nav-menu a:hover{
    text-decoration: white underline;
    transition: 0.5s;

}

#home{
    height: 700px;
    width: 100%;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9c664d08-fdc1-439e-8482-6f82fb643f21/d8zdbco-0a76aaab-6e1a-4e5f-92dd-dd2b2625d2b7.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi85YzY2NGQwOC1mZGMxLTQzOWUtODQ4Mi02ZjgyZmI2NDNmMjEvZDh6ZGJjby0wYTc2YWFhYi02ZTFhLTRlNWYtOTJkZC1kZDJiMjYyNWQyYjcuanBnIn1dXX0.z_67Zwm5kNCtvbl3cIR7ch4WTWA0O6sbkgYftavfgmw);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #301934 ;
}


.title h1{
    font-size: 48px ;
    font-weight: 700;
    margin-bottom: 0;
}

.title h2{
    font-size: 24px;
    font-weight: 400;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.get-started{
    text-decoration: none;
    border: 2px solid #301934;
    border-radius: 10px;
    padding: 5px 20px;   
    color: #301934;
    font-weight: 500;
    font-size: 16px; 
}

.get-started:hover{
background-color: #301934;
color: white;
transition: 0.5s;
}

h3{
    font-weight: 700;
    font-size: 32px;
    color: #111;
    margin-bottom: 2px;
}

p{
    color: #666666;
}

h4{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 2px;
    color: #111;
}
#about-us{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 150px;
}

.about-us-text{
    width: 50%;
    padding: 20px 20px 20px 50px;
}

.about-us-text h3{
    color: #333;
}

.icon-box{
    display: flex ;
    flex-direction: row;
    align-items: center;
}

.icon-text{
    height: 120px;
    padding: 0px 10px;
}

.icon-text p{
    margin-top: 0;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100px ;
    font-size: 20px;
    color: #2dc997;
    border: 2px solid #2dc997;
    border-radius: 50%;

}

.about-us-image{
    height: 500px;
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.about-us-image { animation-name: move;
animation-duration: 1s ;}
@keyframes move{
    0% {left: 100%;}
    100% {left: 0;}
}

.about-us-image img{
    height: 100%;
    width: auto;
    border-radius: 10%;
}

#facts{
    height: 400px;
    width: 100%;
    background: #f7f7f7;
}

.facts-text{
    text-align: center;
    padding: 20px;
}

#services{
    height: 700px;
    width: 100%;
}

.services-text{
    text-align: center;
    padding: 20px;
}

.services-box h4{
    font-weight: 700;
    font-size: 18px;
}

.services-box p{
   text-align: center;
    font-size: 14px;
}

.services-box{
    margin-top: 10px;
    padding: 0px 100px;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    justify-content: center;
}

.box{
    background: #fafafa;
    border: 1px solid #e6e6e6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 350px;
    margin: 20px 20px;
    padding: 30px 20px;

}

.icon-box-box{
    position: absolute;
    top: -36px;
    left: center;
    background: #2dc997;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.icon-box-box:hover{
    background-color: white;
    border: 2px solid #2dc997;
    
}


.icon-box-box a{
    color: white;
    font-size: 24px; 
}

.icon-box-box:hover a{
    color: #2dc997 ;
    
}

#call-to-action{
    background-image: url(https://www.maldronhotels.com/wp-content/uploads/2019/08/gabriele-diwald-Kwi60PbAM9I-unsplash-320x400.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 150px;
}

.call-text{
    width: 1000px;
    padding: 0px 20px;
}

.call-text p{
    color: white;
    font-size: 16px;
}

.call-text h3{
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.call-button {
    border: 3px solid white;
    border-radius: 50px;
    padding: 10px 30px;
}

.call-button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.call-button:hover{
    background-color: #2dc997;
    transition: 0.3s;
    border: 2px solid #2dc997;
}


#portfolio{
    height: 500px;
    width: 100%;
    background-color: #f7f7f7;
}

.portfolio-text{
    text-align: center;
    padding-top: 20px;

}

.portfolio-filters ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.portfolio-filters li{
    padding: 10px 22px;
    border-radius: 4px;
    color: #666666;
    background: white;
    margin: 0px 10px;

}

.portfolio-filters li:hover{
    background-color: #2dc997;
    color: white;
    transition: 0.2s;
}

#team{
    height: 500px;
    width: 100%;
    padding-top: 20px;
}

.team-text{
    text-align: center;
  
}

.team-pictures{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.employee{
    margin: 20px 60px;
    text-align: center;
    color: #666666;
}

.image{
    height: 150px;
    width: 150px;
    
}

.image img{
    height: 100%;
    width: auto;
    align-self: center;
}

.social-media{
    margin-top: 25px;
}
.social-media i{
    color: #666666;
    font-size: 20px;
}

.social-media i:hover{
    color: #2dc997;
}

h5{
    margin-bottom: 1px;
    font-weight: 700;
    font-size: 18px;
}


#contact{
    background: #f7f7f7;
    height: 1000px;
    width: 100%;
    text-align: center;
    padding-top: 10px;

}

.contact-map{
    height: 400px;
    width: 100%;

}
.contact-map img{
    height: 100%;
    width: auto;
}
.contact-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.contact-form{
    margin: 15px 20px;
}

input{
    height: 30px;
    width: 400px;
    border: 1px solid #ced4da;
}

textarea{
    height: 70px;
    width: 400px;
    border: 1px solid #ced4da;
}

.contact-end button{
    background: #2dc997;
    border: 0;
    color: white;
    padding: 10px 24px;
} 

.info i{
    color: #2dc997;
     }

.social-link i{
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
}

.social-link i:hover{
    background-color: #2dc997;

}

.info-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;

}

.info-detail p{ 
    margin: 5px 20px;
}



@media (max-width:1400px) {
    #about-us{
        height: 700px;
        padding: 0px 50px;
    }
    .about-us-text{
        width: 50%;
        padding: 20px 20px 20px 20px;
    }
    #services{
        height: 1000px;
    }
}

@media (max-width: 1000px) {

    .nav-menu{
        display: none;
    }
    .menu-logo{
    display: block;
    height: auto;
    width: 50px;
}
    .menu-logo img{
    height: 100%;
    width: auto;
}
    .title{
    text-align: center;
}
    #about-us{
        height: 1000px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 5px;
    }
    .about-us-text{
        width: 75%;
        padding: 0px 0px
    }
    .about-us-image{
        height: 300px;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }
    @keyframes move{
        0% {top: 100%;}
        100% {top: 0;}
    }
    #services{
        height: 1500px;
    }
    .box {
        height: 175px;
        width: 750px;
    }

    #team{
        height: 1000px;
    }
    .team-pictures{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .employee{
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 700px) {
    #call-to-action{
        flex-direction: column;
        padding: 20px;
    }
    .call-text{
        width: 100%;
    }
    .contact-map{
        height: 200px;
        width: 100%;
    }
    .contact-end{
        flex-direction: column;
        align-items: center;
    }
    input{
        width: 300px;
    }
    textarea{
        width: 300px;
    }
}

@media (max-width: 500px) {

    #about-us{
        height: 1300px;
    }
    .icon {
        height: 50px;
        width: 200px;
    }
    .icon-text{
        height: 200px;
        padding: 0px 20px;
    }
    #services{
        height: 1800px;
    }

    .services-box{
        padding: 0px 20px;
    }

    .box{
        height: 200px;
    }

    #call-to-action{
        height: 400px;
    }

    .portfolio-filters ul{
        
        flex-wrap: wrap;
    }

    .portfolio-filters li{
  margin: 10px;

    }
}